
.timeSelector{
    display : flex ; 
    justify-content: flex-end;
    gap : 0.5rem ; 
}

.timeSelectorButton{
    font-size : inherit ;
    background : none ;
    border : none ; 
    font-weight : inherit ; 
    color : rgb(117, 129, 117); 
    transition : color 300ms ;
    user-select: none; 
}

.timeSelectorButton:hover{
    color : var(--zoro-untyped) ;
    animation: fadein 1s ;
}

.selectedTime{
    font-weight: inherit;
    color : var(--zoro-primary); 
}