h1 { 
    color : var(--zoro-light-green1);
  }
  
  .TypingAreaContainer{
    /* display : block ;  */
    padding : 0rem 0rem;
  }
  
  .TypingArea{
    /* display: block; */ 
    overflow: hidden;
    height: 12rem;
    margin-top : 11rem; 
    /* padding-left: 0.5rem;    */
    min-width: 10rem; 
    /* border: 0.1rem solid var(--zoro-light-green2); */
    border-radius : 0.3rem ; 
    padding-right : 0.15rem ; /* to incorporate the cursor's width*/
  }
  
  .TypingArea:focus {
    outline: none;
 }
  .word {
    display : inline-flex ; 
    user-select: none; 
  }
  
  pre{
    margin : 0 ; 
  }

  .letter{
    font-size : 2rem ; 
    margin-bottom: 1rem;
  }
  
  .correct{
    color :rgb(186, 226, 52) ; 
  }
  
  .untyped{
    color :rgb(206, 215, 169) ;
  }
  
  .wrong{
    color: rgb(226, 78, 78) ; 
  }
  
  .cursor{
    border-left: 0.15rem solid white;
    animation: blinking 1s infinite;
  }
  
  /*cursor animation*/
  @keyframes blinking {
    0% {border-left-color: transparent}
    50% {border-left-color: white}
    100% {border-left-color: transparent}
  }
  
  .startButton{
    color:rgb(214, 239, 111);
    background-color: rgb(58, 84, 63);
    border: 0.2rem solid rgb(33, 33, 33) ;
    border-radius: 0.5rem;
    font-size: 1.5rem;
  }