.timer{
    display : flex ; 
    justify-content: center;
    align-items : center ;
}
.time{
    position: absolute ; 
    margin-top : 2rem ;
    top : 6rem ; 
    font-size : clamp(4rem , 30vw , 9rem) ;  
    color :rgb(123 135 123);
    user-select: none; 
}