#Options{
    display : flex ;
    justify-content: center;
    font-size : 1.2rem ;
    font-weight : bold ; 
}

#TestTypeSelector{
    display : flex ; 
    justify-content: left;
    border-right :rgb(66, 72, 66) solid 0.25rem;
    border-radius : 0.2rem;
}

.typeSelectorButton{
    font-size : inherit ;
    background : none ;
    border : none ; 
    font-weight : inherit;
    color : rgb(117, 129, 117); 
    transition : color 300ms ;
    user-select: none; 
}

.typeSelectorButton:hover{
    color : var(--zoro-untyped) ;
    animation: fadein 1s ;
}

.selectedType{
    font-weight: inherit;
    color : var(--zoro-primary); 
}