h1 {
  color : var(--zoro-primary);
}

.body{
  /* display : block ;  */
  padding : 0 0 0 0 ;
  padding: 0 clamp(1rem, 10%, 10rem);
}

.topbar{
  margin-top : 2rem ;
}

.text .top {
  position: absolute;
  color: var(--zoro-primary);
  font-size: 0.8rem;
  left: 2.5rem;
  line-height: 0.9rem;

  top: 0.7rem;
  transition: color .25s,opacity .25s;
  user-select: none;

  font-size: 0.27em;
  left: 3em;
  line-height: 1em;
  top: 1em;
}

.text {
    font-size: 2rem;
    margin-top: -.2em;
    position: relative;
    transition: color .25s;
    user-select: none;
}


.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  line-height: 1
}

.fa-chevron-right::before {
  content: ">"
}

#buttons{
  display: flex;
  justify-content: center;
}

.plain-button{
  background: none;
  border: none;
}

div#next-test-button-container{
  display: flex;
  margin-top : 1rem;
  align-content: center;
  justify-content: center;
}

#next-test-button{
  width: 5rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding : 0 0 ;

  color: hsl(120,8%,60%);
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

#next-test-button:hover {
    color : var(--zoro-untyped) ;
    animation: fadein 1s ;
}

#next-test-button:focus{
  color : hsl(180, 4%, 5%);
  background-color: hsl(0,10.45%,86.86%);
}

.invisible{
  opacity: 0!important;
  pointer-events: none!important;
}
