:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsla(0,0%,100%,87%);

  background-color:  hsl(0,0%,14.12%);
  --zoro-primary:    hsl(71,80%,69%),
  --zoro-correct:    hsl(71,80%,60%),
  --zoro-wrong:      hsl(0,72%,60%),
  --zoro-untyped:    hsl(71,40%,75%),
  --zoro-top-stats : hsl(98, 39%, 72%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
